.file {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.1em 0.2em;

  border-radius: 5px;
}

.file.selected {
  background: #BFEE90;
}

.main {
  display: flex;
}

.column {
  flex: 1;

  border-radius: 5px;

  margin: 0.2em;
  padding: 1em;

  background: #EEEEEE;
}

.patterns i {
  cursor: pointer;
}